<template>
  <div>
    <create-currency-modal
      v-model="isCreate"
      :currency="selectedCurrency"
      @saved="fetchTemporaryCurrencies"
    ></create-currency-modal>

    <card class="no-border-card" body-classes="px-0 pb-1" footer-classes="pb-2">
      <template slot="header">
        <h3 class="mb-0">
          {{ $t('temporaryAssets.currencies.title') }}
        </h3>
      </template>
      <div>
        <div class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap">
          <el-select
            class="select-primary pagination-select"
            v-model="pagination.perPage"
            placeholder="Per page"
          >
            <el-option
              class="select-primary"
              v-for="item in pagination.perPageOptions"
              :key="item"
              :label="item"
              :value="item"
            >
            </el-option>
          </el-select>

          <div>
            <base-input
              v-model="searchQuery"
              prepend-icon="fas fa-search"
              placeholder="Search...">
            </base-input>
          </div>
        </div>
        <el-table
          v-loading="isLoading"
          :data="queriedData"
          row-key="id"
          header-row-class-name="thead-light"
          @sort-change="sortChange"
        >
          <el-table-column
            v-for="column in tableColumns"
            :key="column.label"
            v-bind="column"
          >
            <template #default="{ row }">
              <p v-if="column.prop === 'nameToken'">
                {{ row.nameToken }}
              </p>
              <p v-if="column.prop === 'nameOToken'">
                {{ row.nameOToken }}
              </p>
              <p v-if="column.prop === 'status'">
                {{ row.status }}
              </p>
              <p v-if="column.prop === 'volume'">
                {{ row.volume }}
              </p>
              <p v-if="column.prop === 'collateral'">
                {{ row.collateral }}
              </p>
            </template>
          </el-table-column>
          <el-table-column min-width="180px" align="right" :label="$t('temporaryAssets.currencies.columns.actions')">
            <div slot-scope="{$index, row}" class="d-flex">
              <base-button
                @click.native="handleCreate($index, row)"
                class="like btn-link"
                type="info"
              >
                <span class="text-white">
                  {{ $t('temporaryAssets.currencies.actions.create') }}
                </span>
              </base-button>
            </div>
          </el-table-column>
        </el-table>
      </div>
      <div
        slot="footer"
        class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
      >
        <div class="">
          <p class="card-category">
            Showing {{ from + 1 }} to {{ to }} of {{ total }} entries
          </p>
        </div>

        <base-pagination
          class="pagination-no-border"
          v-model="pagination.currentPage"
          :per-page="pagination.perPage"
          :total="total"
        >
        </base-pagination>
      </div>
    </card>
  </div>
</template>

<script>
import { Table, TableColumn, Select, Option } from 'element-ui';
import { BasePagination } from '@/components/argon-core';
import clientPaginationMixin from '~/components/tables/PaginatedTables/clientPaginationMixin'
import CreateCurrencyModal from '~/components/modals/CreateCurrencyModal.vue';

export default {
  name: 'TemporaryCurrency',
  mixins: [clientPaginationMixin],
  components: {
    BasePagination,
    CreateCurrencyModal,
    [Select.name]: Select,
    [Option.name]: Option,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
  },
  props: {
    currencies: {
      type: Array,
      default: [],
    },
  },
  data() {
    return {
      propsToSearch: ['nameToken', 'nameOTken'],
      tableColumns: [
        {
          prop: 'nameToken',
          label: this.$t('temporaryAssets.currencies.columns.nameToken'),
          minWidth: 120,
          sortable: true
        },
        {
          prop: 'nameOToken',
          label: this.$t('temporaryAssets.currencies.columns.nameOToken'),
          minWidth: 150,
          sortable: true
        },
        {
          prop: 'status',
          label: this.$t('temporaryAssets.currencies.columns.status'),
          minWidth: 120,
          sortable: true
        },
        {
          prop: 'volume',
          label: this.$t('temporaryAssets.currencies.columns.volume'),
          minWidth: 150,
          sortable: true
        },
        {
          prop: 'collateral',
          label: this.$t('temporaryAssets.currencies.columns.collateral'),
          minWidth: 150,
          sortable: true
        },
      ],
      tableData: [],
      isCreate: false,
      isLoading: false,
      selectedCurrency: null,
    };
  },
  watch: {
    currencies: {
      immediate: true,
      handler(currencies, oldCurrencies) {
        if (currencies !== oldCurrencies) {
          this.tableData = currencies;
        }
      }
    }
  },
  methods: {
    handleCreate(index, row) {
      this.isCreate = true;
      this.selectedCurrency = row;
    },
    async fetchTemporaryCurrencies() {
      try {
        this.isLoading = true;
        this.tableData = await this.$api.currencyService.getTemporaryCurrencies();
      } catch (err) {
        console.log('err: ');
        console.dir(err);
        this.$notify({
          message: err.response.data.message,
          type: 'danger',
        });
      } finally {
        this.isLoading = false;
      }
    }
  }
}
</script>

<style>

</style>
