<template>
  <div>
    <create-pair-modal v-model="isCreate" :pair="selectedPair" @saved="fetchTemporaryPairs"></create-pair-modal>
    <card class="no-border-card" body-classes="px-0 pb-1" footer-classes="pb-2">
      <template slot="header">
        <h3 class="mb-0">
          {{ $t('temporaryAssets.pairs.title') }}
        </h3>
      </template>
      <div>
        <div class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap">
          <el-select
            class="select-primary pagination-select"
            v-model="pagination.perPage"
            placeholder="Per page"
          >
            <el-option
              class="select-primary"
              v-for="item in pagination.perPageOptions"
              :key="item"
              :label="item"
              :value="item"
            >
            </el-option>
          </el-select>

          <div>
            <base-input
              v-model="searchQuery"
              prepend-icon="fas fa-search"
              placeholder="Search...">
            </base-input>
          </div>
        </div>
        <el-table
          v-loading="isLoading"
          :data="queriedData"
          row-key="id"
          header-row-class-name="thead-light"
          @sort-change="sortChange"
        >
          <el-table-column
            v-for="column in tableColumns"
            :key="column.label"
            v-bind="column"
          >
            <template #default="{ row }">
              <p v-if="column.prop === 'name'">
                {{ row.name.split('_').join('/') }}
              </p>
              <p v-if="column.prop === 'status'">
                {{ row.status }}
              </p>
              <p v-if="column.prop === 'createdAt'">
                {{ $d(new Date(row.createdAt)) }}
              </p>
              <p v-if="column.prop === 'updatedAt'">
                {{ $d(new Date(row.updatedAt)) }}
              </p>
            </template>
          </el-table-column>
          <el-table-column min-width="180px" align="right" :label="$t('temporaryAssets.pairs.columns.actions')">
            <div slot-scope="{$index, row}" class="d-flex">
              <base-button
                @click.native="handleCreate($index, row)"
                class="like btn-link"
                type="info"
              >
                <span class="text-white">
                  {{ $t('temporaryAssets.pairs.actions.create') }}
                </span>
              </base-button>
            </div>
          </el-table-column>
        </el-table>
      </div>
      <div
        slot="footer"
        class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
      >
        <div class="">
          <p class="card-category">
            Showing {{ from + 1 }} to {{ to }} of {{ total }} entries
          </p>
        </div>

        <base-pagination
          class="pagination-no-border"
          v-model="pagination.currentPage"
          :per-page="pagination.perPage"
          :total="total"
        >
        </base-pagination>
      </div>
    </card>
  </div>
</template>

<script>
import { Table, TableColumn, Select, Option } from 'element-ui';
import { BasePagination } from '@/components/argon-core';
import clientPaginationMixin from '~/components/tables/PaginatedTables/clientPaginationMixin'
import CreatePairModal from '../../modals/CreatePairModal.vue';

export default {
  name: 'TemporaryPairs',
  mixins: [clientPaginationMixin],
  components: {
    BasePagination,
    CreatePairModal,
    [Select.name]: Select,
    [Option.name]: Option,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
  },
  props: {
    pairs: {
      type: Array,
      default: [],
    },
  },
  data() {
    return {
      propsToSearch: ['name'],
      tableColumns: [
        {
          prop: 'name',
          label: this.$t('temporaryAssets.pairs.columns.name'),
          minWidth: 120,
          sortable: true
        },
        {
          prop: 'status',
          label: this.$t('temporaryAssets.pairs.columns.status'),
          minWidth: 120,
          sortable: true
        },
        {
          prop: 'createdAt',
          label: this.$t('temporaryAssets.pairs.columns.createdDate'),
          minWidth: 150,
          sortable: true
        },
        {
          prop: 'updatedAt',
          label: this.$t('temporaryAssets.pairs.columns.updatedDate'),
          minWidth: 150,
          sortable: true
        },
      ],
      tableData: [],
      isCreate: false,
      isLoading: false,
      selectedPair: null,
    };
  },
  watch: {
    pairs: {
      immediate: true,
      handler(pairs, oldPairs) {
        if (pairs !== oldPairs) {
          this.tableData = pairs;
        }
      }
    }
  },
  methods: {
    handleCreate(index, row) {
      this.isCreate = true;
      this.selectedPair = row;
    },
    async fetchTemporaryPairs() {
      // try {
      //   this.isLoading = true;
      //   this.tableData = await this.$api.pairService.getPairs();
      // } catch (err) {
      //   console.log('err: ');
      //   console.dir(err);
      //   this.$notify({
      //     message: err.response.data.message,
      //     type: 'danger',
      //   });
      // } finally {
      //   this.isLoading = false;
      // }
    }
  }
}
</script>

<style>

</style>
