<template>
  <div :class="layoutClass" class="auth-layout">
    <notifications></notifications>
    <header class="navbar navbar-horizontal navbar-main navbar-transparent">
      <div class="navbar-wrapper">
        <nuxt-link class="navbar-brand d-flex align-items-center" to="/">
          <img src="img/logo.svg" alt="Logo" class="mr-2">
        </nuxt-link>
      </div>

    </header>

    <div class="main-content">
      <nuxt></nuxt>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'AuthLayout',
    middleware: 'guest',
    computed: {
      layoutClass() {
        let exceptions = ['home']
        if (!exceptions.includes(this.$route.name)) {
          return 'bg-default'
        } else {
          return ''
        }
      }
    },
    methods: {
      toPage(route) {
        this.$router.push(route);
      }
    }
  };
</script>
<style lang="scss">
  .auth-layout {
    min-height: 100vh;
  }
</style>
