<template>
  <div class="wrapper">
    <notifications></notifications>
    <side-bar :logo="require('~/static/img/logo.svg')">
      <template slot="links">

        <sidebar-item
          :link="{
            name: $t('sidebar.pairs'),
            icon: 'ni ni-collection text-red',
            path: '/pairs'
          }">
        </sidebar-item>

        <sidebar-item
          :link="{
            name: $t('sidebar.currencies'),
            icon: 'ni ni-briefcase-24 text-green',
            path: '/currency'
          }">
        </sidebar-item>

        <sidebar-item
          :link="{
            name: $t('sidebar.commissions'),
            icon: 'ni ni-money-coins text-info',
            path: '/commissions'
          }">
        </sidebar-item>

        <sidebar-item
          :link="{
            name: $t('sidebar.proposals'),
            icon: 'ni ni-ungroup text-red',
            path: '/proposals'
          }">
        </sidebar-item>

        <sidebar-item
          :link="{
            name: $t('sidebar.temporaryAssets'),
            icon: 'ni ni-ungroup text-info',
            path: '/temporary-assets'
          }">
        </sidebar-item>

      </template>
    </side-bar>
    <div class="main-content">
      <dashboard-navbar :type="$route.name === 'alternative' ? 'light': 'default'"></dashboard-navbar>

      <div @click="$sidebar.displaySidebar(false)">
        <nuxt></nuxt>
      </div>
      <!-- <content-footer v-if="!$route.meta.hideFooter"></content-footer> -->
    </div>
  </div>
</template>

<script>
import DashboardNavbar from '~/components/layouts/argon/DashboardNavbar.vue';
import DashboardContent from '~/components/layouts/argon/Content.vue';

export default {
  middleware: 'auth',
  components: {
    DashboardNavbar,
    DashboardContent
  },
};
</script>
<style lang="scss">
</style>
