<template>
  <div class="content">
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">
            {{ $t('commissions.title') }}
          </h6>
          <nav
            aria-label="breadcrumb"
            class="d-none d-md-inline-block ml-md-4"
          >
            <route-breadcrumb />
          </nav>
        </div>
      </div>
    </base-header>

    <!--content-->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <!-- <table-rates /> -->
          <card>
            <template #header>
              <div class="row align-items-center justify-content-between">
                <div class="mb-0">
                  <h3 class="mb-0">
                    {{ $t('commissions.title') }}
                  </h3>
                </div>
              </div>
            </template>
            <validation-observer
              ref="rewardForm"
              slim
            >
              <form
                class="row"
                @submit.prevent
              >
                <div class="col">
                  <base-input
                    v-model="takerCom"
                    min="0"
                    mode="aggressive"
                    rules="required|min_value:0"
                    :label="$t('commissions.fields.takerCom.label')"
                    :name="$t('commissions.fields.takerCom.label')"
                    :placeholder="$t('commissions.fields.takerCom.placeholder')"
                    wrapper-classes="mb-0"
                    type="number"
                  />
                </div>
                <div class="col">
                  <base-input
                    v-model="withDrawCom"
                    min="0"
                    mode="aggressive"
                    rules="required|min_value:0"
                    :label="$t('commissions.fields.withDrawCom.label')"
                    :name="$t('commissions.fields.withDrawCom.label')"
                    :placeholder="$t('commissions.fields.withDrawCom.placeholder')"
                    wrapper-classes="mb-0"
                    type="number"
                  />
                </div>
              </form>
            </validation-observer>
          </card>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { debounce } from '~/util/debounce.js';

export default {
  name: 'Commissions',
  async asyncData(ctx) {
    const { $api } = ctx;
    const res = await $api.commissionsService.getCommissions();

    const { takerCom, withDrawCom } = res.result.commission;

    return { takerCom, withDrawCom };
  },
  data() {
    return {
      takerCom: '',
      withDrawCom: '',
      debouncedEdit: null,
    };
  },
  computed: {
    model() {
      return {
        takerCom: this.takerCom,
        withDrawCom: this.withDrawCom,
      };
    },
  },
  watch: {
    takerCom(value) {
      this.debouncedEdit(this.model);
    },
    withDrawCom(value) {
      this.debouncedEdit(this.model);
    },
  },
  mounted() {
    this.debouncedEdit = debounce(this.editCommissions, 500);
  },
  methods: {
    async editCommissions(commissions) {
      const { flags } = this.$refs.rewardForm;
      console.log('rewardForm: ', flags, flags.valid);
      if (!flags.valid) {
        return;
      }
      try {
        const res = await this.$api.commissionsService.editCommissions(commissions);

        if (res.ok) {
          this.$notify({
          message: this.$t('misc.success'),
          type: 'success',
        });
        }
      } catch (err) {
        console.log('err: ');
        console.dir(err);
        this.$notify({
          message: err?.response?.data?.message ?? err.message,
          type: 'danger',
        });
      }
    },
  },
};
</script>

<style lang="scss" scoped>
</style>
