<template>
  <div class="content">
    <edit-currency-modal
      v-model="isEdit"
      :currency="selectedCurrency"
      @saved="fetchCurrencies"
    >
    </edit-currency-modal>

    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">{{ $t('currencies.title') }}</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-bread-crumb></route-bread-crumb>
          </nav>
        </div>
      </div>
    </base-header>
    <div class="container-fluid mt--6">
      <div>
        <card class="no-border-card" body-classes="px-0 pb-1" footer-classes="pb-2">
          <template slot="header">
            <h3 class="mb-0">
              {{ $t('currencies.title') }}
            </h3>
          </template>
          <div>
            <div class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
            >
              <el-select
                class="select-primary pagination-select"
                v-model="pagination.perPage"
                placeholder="Per page"
              >
                <el-option
                  class="select-primary"
                  v-for="item in pagination.perPageOptions"
                  :key="item"
                  :label="item"
                  :value="item"
                >
                </el-option>
              </el-select>

              <div>
                <base-input v-model="searchQuery"
                            prepend-icon="fas fa-search"
                            placeholder="Search...">
                </base-input>
              </div>
            </div>
            <el-table
              v-loading="isLoading"
              :data="queriedData"
              row-key="id"
              header-row-class-name="thead-light"
              @sort-change="sortChange"
            >
              <el-table-column
                v-for="column in tableColumns"
                :key="column.label"
                v-bind="column"
              >
                <!-- <template #default="{ row }">
                  <p v-if="column.prop === 'symbol'">
                    {{ row.name.split('_').join('/') }}
                  </p>
                  <p v-if="column.prop === 'lastPrice'">
                    {{ row.lastPrice }}
                  </p>
                  <p v-if="column.prop === 'baseStep'">
                    {{ row.baseStep }}
                  </p>
                  <p v-if="column.prop === 'quoteStep'">
                    {{ row.quoteStep }}
                  </p>
                  <p v-if="column.prop === 'updatedAt'">
                    {{ $d(new Date(row.updatedAt)) }}
                  </p>
                </template> -->
              </el-table-column>
              <el-table-column min-width="180px" align="right" :label="$t('pairs.columns.actions')">
                <div slot-scope="{$index, row}" class="d-flex">
                  <base-button
                    @click.native="handleEdit($index, row)"
                    class="like btn-link"
                    type="info"
                  >
                    <span class="text-white">
                      {{ $t('pairs.actions.edit') }}
                    </span>
                  </base-button>
                </div>
              </el-table-column>
            </el-table>
          </div>
          <div
            slot="footer"
            class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
          >
            <div class="">
              <p class="card-category">
                Showing {{ from + 1 }} to {{ to }} of {{ total }} entries
              </p>

            </div>
            <base-pagination
              class="pagination-no-border"
              v-model="pagination.currentPage"
              :per-page="pagination.perPage"
              :total="total"
            >
            </base-pagination>
          </div>
        </card>
      </div>
    </div>
  </div>
</template>

<script>
import { Table, TableColumn, Select, Option } from 'element-ui';
import RouteBreadCrumb from '@/components/argon-core/Breadcrumb/RouteBreadcrumb'
import { BasePagination } from '@/components/argon-core';
import clientPaginationMixin from '~/components/tables/PaginatedTables/clientPaginationMixin'
import EditCurrencyModal from '~/components/modals/EditCurrencyModal';

export default {
  mixins: [clientPaginationMixin],
  components: {
    BasePagination,
    RouteBreadCrumb,
    EditCurrencyModal,
    [Select.name]: Select,
    [Option.name]: Option,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn
  },
  async asyncData({ store, $api }) {
    const currencies = await $api.currencyService.getCurrencies();
    console.log('currencies: ', currencies);
    return { tableData: currencies }
  },
  data() {
    return {
      propsToSearch: ['symbol'],
      tableColumns: [
        {
          prop: 'symbol',
          label: this.$t('currencies.columns.symbol'),
          minWidth: 120,
          sortable: true
        },
        {
          prop: 'price',
          label: this.$t('currencies.columns.price'),
          minWidth: 120,
          sortable: true
        },
        {
          prop: 'collateral',
          label: this.$t('currencies.columns.collateral'),
          minWidth: 150,
          sortable: true
        },
        {
          prop: 'maintainsCollateral',
          label: this.$t('currencies.columns.maintainsCollateral'),
          minWidth: 160,
          sortable: true
        },
        {
          prop: 'volume',
          label: this.$t('currencies.columns.volume'),
          minWidth: 120,
          sortable: true
        },
      ],
      tableData: [],
      isEdit: false,
      isLoading: false,
      selectedCurrency: null,
    };
  },
  methods: {
    handleEdit(index, row) {
      this.isEdit = true;
      this.selectedCurrency = row;
    },
    async fetchCurrencies() {
      try {
        this.isLoading = true;
        this.tableData = await this.$api.currencyService.getCurrencies();
      } catch (err) {
        console.log('err: ');
        console.dir(err);
        this.$notify({
          message: err.response.data.message,
          type: 'danger',
        });
      } finally {
        this.isLoading = false;
      }
    }
  }
};
</script>

<style>
  .no-border-card .card-footer{
    border-top: 0;
  }
</style>
