<template>
  <div>
    <!-- Header -->
    <div class="header bg-gradient-success py-7 py-lg-8 pt-lg-9">
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg
          x="0"
          y="0"
          viewBox="0 0 2560 100"
          preserveAspectRatio="none"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
        >
          <polygon
            class="fill-default"
            points="2560 0 2560 100 0 100"
          />
        </svg>
      </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary border-0 mb-0">
            <div class="card-body px-lg-5 py-lg-5">
              <validation-observer
                v-slot="{handleSubmit}"
                ref="formValidator"
              >
                <form
                  role="form"
                  @submit.prevent="handleSubmit(onSubmit)"
                >
                  <base-input
                    v-model.trim="model.email"
                    alternative
                    class="mb-3"
                    :name="$t('sign-in.fields.email.label')"
                    :rules="{required: true, email: true}"
                    prepend-icon="ni ni-email-83"
                    :placeholder="$t('sign-in.fields.email.placeholder')"
                  />

                  <base-input
                    v-model.trim="model.password"
                    alternative
                    class="mb-3"
                    :name="$t('sign-in.fields.password.label')"
                    :rules="{required: true, min: 6}"
                    prepend-icon="ni ni-lock-circle-open"
                    type="password"
                    :placeholder="$t('sign-in.fields.password.placeholder')"
                  />

                  <div class="text-center">
                    <base-button
                      :loading="isBusy"
                      type="primary"
                      native-type="submit"

                    >
                      {{ $t('sign-in.btn') }}
                    </base-button>
                  </div>
                </form>
              </validation-observer>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: 'AuthLayout',
  name: 'Login',
  data() {
    return {
      model: {
        email: '',
        password: '',
      },
      isBusy: false,
    };
  },
  methods: {
    async onSubmit() {
      // this will be called only after form is valid. You can do api call here to login
      try {
        this.isBusy = true;
        await this.$store.dispatch('auth/login', this.model);
        await this.$store.dispatch('auth/initialize');
        this.$router.push('/');
      } catch (err) {
        console.log('err: ');
        console.dir(err);
        this.$notify({
          message: err.response.data.message,
          type: 'danger',
        });
      } finally {
        this.isBusy = false;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
</style>
