<template>
  <div class="content">
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">{{ $t('proposals.title') }}</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-bread-crumb></route-bread-crumb>
          </nav>
        </div>
      </div>
    </base-header>
    <div class="container-fluid mt--6">
      <div>
        <card class="no-border-card" body-classes="px-0 pb-1" footer-classes="pb-2">
          <template slot="header">
            <h3 class="mb-0">
              {{ $t('proposals.title') }}
            </h3>
          </template>
          <div>
            <div class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
            >
              <el-select
                class="select-primary pagination-select"
                v-model="pagination.perPage"
                placeholder="Per page"
              >
                <el-option
                  class="select-primary"
                  v-for="item in pagination.perPageOptions"
                  :key="item"
                  :label="item"
                  :value="item"
                >
                </el-option>
              </el-select>

              <div>
                <base-input v-model="searchQuery"
                            prepend-icon="fas fa-search"
                            placeholder="Search...">
                </base-input>
              </div>
            </div>
            <el-table
              :data="queriedData"
              row-key="id"
              header-row-class-name="thead-light"
              @sort-change="sortChange"
            >
              <el-table-column
                v-for="column in tableColumns"
                :key="column.label"
                v-bind="column"
              >
                <template #default="{ row }">
                  <p v-if="column.prop === 'type'">
                    {{ $t(`proposals.types.${$options.PROPOSAL_TYPE[row.type]}`) }}
                  </p>
                  <p v-if="column.prop === 'createdAt'">
                    {{ $d(new Date(row.createdAt)) }}
                  </p>
                  <p v-if="column.prop === 'status'">
                    {{ row.status }}
                  </p>
                  <p v-if="column.prop === 'userId'">
                    {{ row.userId }}
                  </p>
                  <p v-if="column.prop === 'symbol'">
                    {{ row.symbol }}
                  </p>
                </template>
              </el-table-column>
              <el-table-column min-width="180px" align="right" :label="$t('proposals.columns.actions')">
                <div slot-scope="{$index, row}" class="d-flex">
                  <base-button
                    @click.native="handleCreate($index, row)"
                    class="like btn-link"
                    type="info"
                    icon
                  >
                    <span class="text-white">
                      {{ $t('proposals.actions.create') }}
                    </span>
                  </base-button>
                </div>
              </el-table-column>
            </el-table>
          </div>
          <div
            slot="footer"
            class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
          >
            <div class="">
              <p class="card-category">
                Showing {{ from + 1 }} to {{ to }} of {{ total }} entries
              </p>

            </div>
            <base-pagination
              class="pagination-no-border"
              v-model="pagination.currentPage"
              :per-page="pagination.perPage"
              :total="total"
            >
            </base-pagination>
          </div>
        </card>
      </div>
    </div></div>
</template>

<script>
import { mapGetters } from 'vuex';
import { Table, TableColumn, Select, Option } from 'element-ui';
import Fuse from 'fuse.js';
import RouteBreadCrumb from '@/components/argon-core/Breadcrumb/RouteBreadcrumb'
import { BasePagination } from '@/components/argon-core';
import clientPaginationMixin from '~/components/tables/PaginatedTables/clientPaginationMixin'
import swal from 'sweetalert2';
import { PROPOSAL_TYPE } from '~/util/constants';


export default {
  mixins: [clientPaginationMixin],
  layout: 'DashboardLayout',
  components: {
    BasePagination,
    RouteBreadCrumb,
    [Select.name]: Select,
    [Option.name]: Option,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn
  },
  PROPOSAL_TYPE,
  async asyncData({ store, $api }) {
    await store.dispatch('proposal/getProposals');
    await store.dispatch('proposal/subscribeToProposals')
  },
  data() {
    return {
      propsToSearch: ['userId', 'symbol'],
      tableColumns: [
        {
          prop: 'userId',
          label: this.$t('proposals.columns.userId'),
          minWidth: 300,
          sortable: true
        },
        {
          prop: 'type',
          label: this.$t('proposals.columns.type'),
          minWidth: 120,
          sortable: true
        },
        {
          prop: 'status',
          label: this.$t('proposals.columns.status'),
          minWidth: 120,
          sortable: true
        },
        {
          prop: 'symbol',
          label: this.$t('proposals.columns.asset'),
          minWidth: 120,
          sortable: true
        },
        {
          prop: 'createdAt',
          label: this.$t('proposals.columns.date'),
          minWidth: 150,
          sortable: true
        },
      ],
      tableData: [],
      selectedRows: [],
    };
  },
  computed: {
    ...mapGetters({
      proposals: 'proposal/getProposals',
    }),
  },
  watch: {
    proposals: {
      immediate: true,
      handler(newProposals, oldPorposals) {
        console.log('oldPorposals: ', oldPorposals);
        console.log('newProposals: ', newProposals);

        if (newProposals !== oldPorposals) {
          this.tableData = newProposals;
        }
      }
    },
  },
  beforeDestroy() {
    this.$store.dispatch('proposal/unsubscribeToProposals');
  },
  methods: {
    async handleCreate(index, row) {
      const swalResult = await swal.fire({
        title: 'Are you sure?',
        text: `You won't be able to revert this!`,
        type: 'warning',
        showCancelButton: true,
        confirmButtonClass: 'btn btn-success btn-fill',
        cancelButtonClass: 'btn btn-danger btn-fill',
        confirmButtonText: 'Create',
        buttonsStyling: false,
        showLoaderOnConfirm: true,
        preConfirm: () => this.createProposal(row.id),
        allowOutsideClick: () => !swal.isLoading(),
      });

      console.log('swalResult: ', swalResult);

      if (swalResult.isConfirmed && swalResult.value?.receipt?.status) {
        swal.fire({
          title: 'Proposal created',
          text: swalResult.value.tx,
          icon: 'success',
          confirmButtonClass: 'btn btn-success btn-fill',
          buttonsStyling: false,
        });

        // this.$store.commit('settings/deleteFeeSettings', settings);
        return swalResult;
      }
    },
    async createProposal(proposalId) {
      try {
        return await this.$store.dispatch('proposal/createProposal', proposalId);
      } catch (err) {
        console.dir(err);
        swal.showValidationMessage(
          this.$t('modals.block.error', { msg: err?.response?.data?.message || err.message }),
        );
      }
    },
  }
};
</script>

<style lang="scss">
  .no-border-card .card-footer{
    border-top: 0;
  }
</style>
