<template>
  <div class="content">
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">{{ $t('temporaryAssets.title') }}</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-bread-crumb></route-bread-crumb>
          </nav>
        </div>
      </div>
    </base-header>
    <div class="container-fluid mt--6">
      <div class="mb-4">
        <temporary-pairs :pairs="pairs"></temporary-pairs>
      </div>
      <div>
        <temporary-currencies :currencies="currencies"></temporary-currencies>
      </div>
    </div>
  </div>
</template>

<script>
import RouteBreadCrumb from '@/components/argon-core/Breadcrumb/RouteBreadcrumb';
import TemporaryPairs from '@/components/app/temporary-assets/TemporaryPairs';
import TemporaryCurrencies from '../components/app/temporary-assets/TemporaryCurrencies.vue';

export default {
  components: {
    RouteBreadCrumb,
    TemporaryPairs,
    TemporaryCurrencies,
  },
  async asyncData({ store, $api }) {
    const pairs = await $api.pairService.getTemporaryPairs();
    const currencies = await $api.currencyService.getTemporaryCurrencies()

    return { pairs, currencies }
  },
  data() {
    return {
      pairs: [],
      currencies: [],
    };
  },
  methods: {
    // async fetchPairs() {
    //   try {
    //     this.isLoading = true;
    //     this.tableData = await this.$api.pairService.getPairs();
    //   } catch (err) {
    //     console.log('err: ');
    //     console.dir(err);
    //     this.$notify({
    //       message: err.response.data.message,
    //       type: 'danger',
    //     });
    //   } finally {
    //     this.isLoading = false;
    //   }
    // }
  }
};
</script>

<style>
  .no-border-card .card-footer{
    border-top: 0;
  }
</style>
