<template>
  <modal
    :show="isShow"
    footer-classes="pt-0"
    @close="closeModal"
  >
    <form>
      <base-input
        v-model="decimals"
        type="number"
        rules="required"
        class="w-100"
        wrapper-classes="mb-0"
        :label="$t('temporaryAssets.currencies.modal.fields.decimals.label')"
        :name="$t('temporaryAssets.currencies.modal.fields.decimals.label')"
        :placeholder="$t('temporaryAssets.currencies.modal.fields.decimals.placeholder')"
      />
      <base-input
        v-model="volume"
        type="number"
        rules="required"
        class="w-100"
        wrapper-classes="mb-0"
        :label="$t('temporaryAssets.currencies.modal.fields.volume.label')"
        :name="$t('temporaryAssets.currencies.modal.fields.volume.label')"
        :placeholder="$t('temporaryAssets.currencies.modal.fields.volume.placeholder')"
      />
    </form>

    <template #footer>
      <div class="row">
        <div class="col">
          <base-button
            type="primary"
            class="w-100"
            @click="handleSave"
          >
            {{ $t('temporaryAssets.currencies.modal.btns.ok') }}
          </base-button>
        </div>
        <div class="col">
          <base-button
            type="primary"
            class="w-100"
            @click="closeModal"
          >
            {{ $t('temporaryAssets.currencies.modal.btns.cancel') }}
          </base-button>
        </div>
      </div>
    </template>
  </modal>
</template>

<script>
export default {
  name: 'CreateCurrencyModal',
  props: {
    value: {
      type: Boolean,
      default: false,
    },
    currency: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      decimals: '',
      volume: '',
    };
  },
  computed: {
    isShow: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit('input', value);
      },
    },
  },
  methods: {
    closeModal() {
      this.isShow = false;
    },
    async handleSave() {
      const payload = {
        id: this.currency.addressToken,
        symbol: this.currency.nameToken,
        volume: this.volume,
        reserve: this.volume,
        decimals: this.decimals,
        precision: this.decimals,
        collateral: this.currency.collateral,
      };

      console.log('payload: ', payload);

      try {
        const notification = await this.$api.currencyService.createCurrency(payload);
        console.log('notification: ', notification);
        this.$notify({
          message: notification?.status,
          type: 'success',
        });
        this.$emit('saved');
        this.closeModal();
      } catch (err) {
        console.log('err: ');
        console.dir(err);
        this.$notify({
          message: err.response.data.message,
          type: 'danger',
        });
      }
    },
  },
};
</script>

<style>

</style>
