<template>
  <modal
    :show="isShow"
    footer-classes="pt-0"
    @close="closeModal"
  >
    <form>
      <base-input
        v-model="baseStep"
        type="number"
        min="0"
        max="100"
        rules="required|min_value:1|max_value:100"
        class="w-100"
        wrapper-classes="mb-0"
        :label="$t('pairs.modal.fields.baseStep.label')"
        :name="$t('pairs.modal.fields.baseStep.label')"
        :placeholder="$t('pairs.modal.fields.baseStep.placeholder')"
      />
      <base-input
        v-model="quoteStep"
        type="number"
        min="0"
        max="100"
        rules="required|min_value:1|max_value:100"
        class="w-100"
        wrapper-classes="mb-0"
        :label="$t('pairs.modal.fields.quoteStep.label')"
        :name="$t('pairs.modal.fields.quoteStep.label')"
        :placeholder="$t('pairs.modal.fields.quoteStep.placeholder')"
      />
      <base-input
        v-model="lastPrice"
        type="number"
        rules="required"
        class="w-100"
        min="0"
        wrapper-classes="mb-0"
        :label="$t('pairs.modal.fields.lastPrice.label')"
        :name="$t('pairs.modal.fields.lastPrice.label')"
        :placeholder="$t('pairs.modal.fields.lastPrice.placeholder')"
      />
    </form>

    <template #footer>
      <div class="row">
        <div class="col">
          <base-button
            type="primary"
            class="w-100"
            @click="handleSave"
          >
            {{ $t('pairs.modal.btns.ok') }}
          </base-button>
        </div>
        <div class="col">
          <base-button
            type="primary"
            class="w-100"
            @click="closeModal"
          >
            {{ $t('pairs.modal.btns.cancel') }}
          </base-button>
        </div>
      </div>
    </template>
  </modal>
</template>

<script>
export default {
  name: 'EditPairModal',
  props: {
    value: {
      type: Boolean,
      default: false,
    },
    pair: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      baseStep: '',
      quoteStep: '',
      lastPrice: '',
    };
  },
  computed: {
    isShow: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit('input', value);
      },
    },
  },
  watch: {
    pair(pair) {
      this.baseStep = pair.baseStep;
      this.quoteStep = pair.quoteStep;
      this.lastPrice = pair.lastPrice;
    },
  },
  methods: {
    closeModal() {
      this.isShow = false;
    },
    async handleSave() {
      const payload = {
        baseStep: this.baseStep,
        quoteStep: this.quoteStep,
        lastPrice: this.lastPrice,
      };

      try {
        const notification = await this.$api.pairService.editPairById(this.pair.id, payload)
        console.log('notification: ', notification);
        this.$notify({
          message: notification?.status,
          type: 'success',
        });
        this.$emit('saved')
        this.closeModal();
      } catch (err) {
        console.log('err: ');
        console.dir(err);
        this.$notify({
          message: err.response.data.message,
          type: 'danger',
        });
      }
    },
  },
};
</script>

<style>

</style>
