<template>
  <modal
    :show="isShow"
    footer-classes="pt-0"
    @close="closeModal"
  >
    <form>
      <base-input
        v-model="collateral"
        type="number"
        min="0"
        max="100"
        rules="required|min_value:1|max_value:100"
        class="w-100"
        wrapper-classes="mb-0"
        :label="$t('currencies.modal.fields.collateral.label')"
        :name="$t('currencies.modal.fields.collateral.label')"
        :placeholder="$t('currencies.modal.fields.collateral.placeholder')"
      />

      <base-input
        v-model="maintainsCollateral"
        type="number"
        min="0"
        max="100"
        rules="required|min_value:1|max_value:100"
        class="w-100"
        wrapper-classes="mb-0"
        :label="$t('currencies.modal.fields.maintainsCollateral.label')"
        :name="$t('currencies.modal.fields.maintainsCollateral.label')"
        :placeholder="$t('currencies.modal.fields.maintainsCollateral.placeholder')"
      />
    </form>

    <template #footer>
      <div class="row">
        <div class="col">
          <base-button
            type="primary"
            class="w-100"
            @click="handleSave"
          >
            {{ $t('currencies.modal.btns.ok') }}
          </base-button>
        </div>
        <div class="col">
          <base-button
            v-loading="isLoading"
            type="primary"
            class="w-100"
            @click="closeModal"
          >
            {{ $t('currencies.modal.btns.cancel') }}
          </base-button>
        </div>
      </div>
    </template>
  </modal>
</template>

<script>
export default {
  name: 'EditCurrencyModal',
  props: {
    value: {
      type: Boolean,
      default: false,
    },
    currency: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      collateral: '',
      maintainsCollateral: '',
      isLoading: false,
    };
  },
  computed: {
    isShow: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit('input', value);
      },
    },
  },
  watch: {
    currency(currency) {
      this.collateral = currency.collateral;
      this.maintainsCollateral = currency.maintainsCollateral;
    },
  },
  methods: {
    closeModal() {
      this.isShow = false;
    },
    async handleSave() {
      const payload = {
        collateral: this.collateral,
        maintainsCollateral: this.maintainsCollateral,
      };

      try {
        this.isLoading = true;
        const notification = await this.$api.currencyService.editCurrencyById(this.currency.id, payload)
        console.log('notification: ', notification);
        this.$notify({
          message: notification?.status,
          type: 'success',
        });
        this.$emit('saved')
        this.closeModal();
      } catch (err) {
        console.log('err: ');
        console.dir(err);
        this.$notify({
          message: err.response.data.message,
          type: 'danger',
        });
      } finally {
        this.isLoading = false;
      }
    },
  },
};
</script>

<style>

</style>
